{% extends "base.html" %} {% block content %}
<div class="container mt-5">
  <h1 class="text-center mb-3">Account Management</h1>
  <form method="post">
    {% csrf_token %}
    <div class="form-group">
      {{ user_form.first_name.label_tag }} {{ user_form.first_name }}
    </div>
    <br />
    <div class="form-group">
      {{ user_form.last_name.label_tag }} {{ user_form.last_name }}
    </div>
    <br />
    <div class="form-group">
      {{ profile_form.alert_status.label_tag }} {{ profile_form.alert_status }}
    </div>
    <br />
    <button type="submit" class="btn btn-primary">Update</button>
  </form>
</div>
{% endblock %}
