{% extends "base.html" %} {% block content %}

<div class="container-fluid v-center">
  <div class="row justify-content-center">
    <!-- Adding a row with justify-content-center -->
    <div class="col-md-6">
      <!-- Restricting the column size -->
      <h5 class="text-center">
        Something went wrong. Please contact us at
        <a href="mailto:raffay@horizontech.app">{{ support_email }}</a>.
      </h5>
      <!-- Centering the heading -->
    </div>
  </div>
</div>

<style>
  .v-center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 80vh;
  }
</style>

{% endblock %}
